 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 990px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  margin: 1px auto 0 0;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.55);
  height: 458px;
  margin-top: 12px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 148px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 48px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 32px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 194px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -114px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -67px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 285px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -165px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 386px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -332px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 215px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 627px;
}

.u-section-2 .u-text-1 {
  margin: 1px 0 60px;
} .u-section-3 {
  background-image: linear-gradient(white, #cde9e2);
}

.u-section-3 .u-sheet-1 {
  min-height: 176px;
}

.u-section-3 .u-text-1 {
  margin: 30px 0 0;
}