 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 649px;
}

.u-section-1 .u-image-1 {
  width: 447px;
  height: 447px;
  margin: 89px auto 0 37px;
}

.u-section-1 .u-text-1 {
  margin: -447px 0 60px 531px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 111px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 801px;
}

.u-section-2 .u-text-1 {
  margin: 35px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 22px 15px 0 704px;
}

.u-section-2 .u-gallery-1 {
  width: 689px;
  height: 514px;
  grid-gap: 10px;
  margin: -538px auto 24px 0;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 358px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -246px;
    margin-right: 0;
    margin-left: 519px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 299px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 119px;
  }

  .u-section-2 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 384px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -252px;
    margin-left: 0;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 707px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1170px;
  margin: 60px -30px 30px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 617px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-3 .u-gallery-1 {
  width: 686px;
  height: 543px;
  grid-gap: 10px;
  margin: 0 -3px 0 auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 617px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 59px auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 32px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 330px;
  }

  .u-section-3 .u-gallery-1 {
    width: 548px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-3 .u-gallery-1 {
    width: 420px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 804px;
}

.u-section-4 .u-text-1 {
  margin: 81px auto 0 10px;
}

.u-section-4 .u-text-2 {
  margin: 31px 22px 0 742px;
}

.u-section-4 .u-image-1 {
  width: 681px;
  height: 562px;
  margin: -564px auto 2px 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 358px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -246px;
    margin-right: 0;
    margin-left: 564px;
  }

  .u-section-4 .u-image-1 {
    height: 563px;
    margin-top: 148px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-left: 344px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 164px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 446px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -226px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 281px;
    margin-top: 128px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 955px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 72px auto 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 682px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 290px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-image-2 {
  height: 301px;
  margin-top: 46px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 682px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-table-1 {
  margin-top: 90px;
  margin-bottom: 0;
}

.u-block-3bad-48 {
  background-image: none;
}

.u-section-5 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-block-3bad-75 {
  background-image: none;
}

.u-section-5 .u-icon-1 {
  width: 32px;
  height: 32px;
  margin: -149px 35px 0 auto;
  padding: 0;
}

.u-section-5 .u-icon-2 {
  width: 32px;
  height: 32px;
  margin: 17px 35px 0 auto;
  padding: 0;
}

.u-section-5 .u-icon-3 {
  width: 32px;
  height: 32px;
  margin: 17px 35px 0 auto;
  padding: 0;
}

.u-section-5 .u-image-3 {
  height: 303px;
  margin-top: 56px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-5 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 562px;
  }

  .u-section-5 .u-image-1 {
    height: 239px;
  }

  .u-section-5 .u-image-2 {
    height: 248px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 562px;
  }

  .u-section-5 .u-image-3 {
    height: 250px;
    margin-top: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1234px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 861px;
  }

  .u-section-5 .u-image-1 {
    height: 366px;
  }

  .u-section-5 .u-image-2 {
    height: 380px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-3 {
    height: 383px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 646px;
  }

  .u-section-5 .u-image-1 {
    height: 275px;
  }

  .u-section-5 .u-image-2 {
    height: 285px;
  }

  .u-section-5 .u-image-3 {
    height: 287px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-5 .u-image-1 {
    height: 173px;
  }

  .u-section-5 .u-image-2 {
    height: 179px;
  }

  .u-section-5 .u-image-3 {
    height: 181px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 673px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 72px auto 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 23px;
  margin-bottom: 50px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 505px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-table-1 {
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-6 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-6 .u-icon-1 {
  width: 28px;
  height: 28px;
  margin: -410px 288px 0 auto;
  padding: 0;
}

.u-section-6 .u-icon-2 {
  width: 28px;
  height: 28px;
  margin: 15px 288px 0 auto;
  padding: 0;
}

.u-section-6 .u-icon-3 {
  width: 28px;
  height: 28px;
  margin: 21px 288px 0 auto;
  padding: 0;
}

.u-section-6 .u-icon-4 {
  width: 28px;
  height: 28px;
  margin: 19px 288px 0 auto;
  padding: 0;
}

.u-section-6 .u-icon-5 {
  width: 28px;
  height: 28px;
  margin: 17px 288px 0 auto;
  padding: 0;
}

.u-section-6 .u-icon-6 {
  width: 28px;
  height: 28px;
  margin: 17px 288px 0 auto;
  padding: 0;
}

.u-section-6 .u-icon-7 {
  width: 28px;
  height: 28px;
  margin: 22px 288px 0 auto;
  padding: 0;
}

.u-section-6 .u-icon-8 {
  width: 28px;
  height: 28px;
  margin: 19px 288px 0 auto;
  padding: 0;
}

.u-section-6 .u-icon-9 {
  width: 28px;
  height: 28px;
  margin: 15px 288px 13px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 18px;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 416px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-top: 786px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -740px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 221px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 221px;
  }

  .u-section-6 .u-icon-3 {
    margin-right: 221px;
  }

  .u-section-6 .u-icon-4 {
    margin-right: 221px;
  }

  .u-section-6 .u-icon-5 {
    margin-right: 221px;
  }

  .u-section-6 .u-icon-6 {
    margin-right: 221px;
  }

  .u-section-6 .u-icon-7 {
    margin-right: 221px;
  }

  .u-section-6 .u-icon-8 {
    margin-right: 221px;
  }

  .u-section-6 .u-icon-9 {
    margin-right: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 597px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -551px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 166px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 166px;
  }

  .u-section-6 .u-icon-3 {
    margin-right: 166px;
  }

  .u-section-6 .u-icon-4 {
    margin-right: 166px;
  }

  .u-section-6 .u-icon-5 {
    margin-right: 166px;
  }

  .u-section-6 .u-icon-6 {
    margin-right: 166px;
  }

  .u-section-6 .u-icon-7 {
    margin-right: 166px;
  }

  .u-section-6 .u-icon-8 {
    margin-right: 166px;
  }

  .u-section-6 .u-icon-9 {
    margin-right: 166px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-top: 401px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -355px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: 105px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: 105px;
  }

  .u-section-6 .u-icon-3 {
    margin-right: 105px;
  }

  .u-section-6 .u-icon-4 {
    margin-right: 105px;
  }

  .u-section-6 .u-icon-5 {
    margin-right: 105px;
  }

  .u-section-6 .u-icon-6 {
    margin-right: 105px;
  }

  .u-section-6 .u-icon-7 {
    margin-right: 105px;
  }

  .u-section-6 .u-icon-8 {
    margin-right: 105px;
  }

  .u-section-6 .u-icon-9 {
    margin-right: 105px;
  }
}